body {
    background-color: #264653;
    color: #F2E8CF;
    font-family: 'Lugrasimo', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarabun', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.vehiclesCard {
    border: 2px solid #E9C46A;
}

.success-text {
    color: #386641;
}

.danger-text {
    color: #931621;
}